.container {
  min-height: 100vh;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 100%;
  max-width: 450px;
}

@media (max-width: 575px) {
  .container {
    padding: 12px;
  }

  .card {
    box-shadow: none;
  }
}